* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background-color: dodgerblue;
    padding: 0px;
    height: 55px;
}

.header-title{
    font-size: x-large;
    font-weight: bolder;
    padding: 8px;
    color: white;
}

a{
    display: flex;
    margin-left: auto;
    padding: 8px;
}

.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
}

.box{
    flex-grow: 1;
    border: 1px solid black;
    margin: 0;
    padding: 0px;
}

.buttons{
    padding: 16px;
}

#grid-update{
    padding: 8px;
    margin: 20px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-size: large;
}

.lower-buttons{
    display: flex;
    gap: 16px;
}

#color-label{
    padding: 8px;
}

#color-picker{
    block-size: 40px;
    background-color: white;
    border-radius: 2px;
}

#draw,
#erase,
#reset{
    border: 1px solid black;
    background-color: dodgerblue;
    border-radius: 2px;
    color: white;
    font-size: large;
    padding: 8px;
}

#rainbow{
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-size: large;
    padding: 8px;
}

/*Hover rainbow effect from https://codepen.io/althi/pen/eKdmaa*/
#rainbow:hover{
    background-color: white;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
  }