* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
}

.box{
    flex-grow: 1;
    border: 1px solid black;
    margin: 0;
    padding: 0px;
}

.buttons{
    padding: 16px;
}

#grid-update{
    padding: 8px;
    margin: 16px;
}

.lower-buttons{
    display: flex;
    gap: 16px;
}

#color-label{
    padding: 8px;
}